html {
    font-family: Ubuntu;
    background: #414145;
    color: white;
    h1 {
        margin-top: 4vi;
        margin-left: 4vi;
    }
}

.busses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 2vi;
    padding: 0 4vi;
    height: fit-content;
}

.route {
    margin: 4vi;
    padding: 2vi;
    background: #fff;
    border-radius: 3px;
    color: #414145;
    /* width: fit-content; */
    /* min-width: 20vi; */

}

/* The container for the Route Number + Name */
.route-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

/* The Grey Box [ 20 ] */
.route-number {
    background-color: #414145;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.6rem;
    
    /* Right-align the text inside the box */
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    
    padding: 4px 10px;
    min-width: 60px; /* Ensures all boxes are the same width */
    height: 35px;
    border-radius: 3px;
}

/* The Route Name (Madison, Western, etc.) */
.route-name {
    color: #414145;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding-right: 10px;
}

.arrival {
    background-color: #fff;
    color: #414145; /* Grey text */
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid #414145;
    display: inline-block;
    margin-right: 5px;}

.pill {
    background-color: #414145;
    color: #fff; /* Grey text */
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 3px;
    border: 1px solid #414145;
    display: inline-block;
    margin-right: 5px;
}

.arrival-time {
    font-size: 1rem;
    color: #414145;
    margin-right: 5px;
}