html {
    font-family: Ubuntu;
    background: #414145;
    color: white;
}

.arrival-pill {
    background-color: #ffffff;
    color: #414145; /* Grey text */
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 12px;
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 5px;
}

.arrival-time {
    font-size: 1rem;
    color: #333;
    margin-right: 5px;
}